.navbar {
  background-color: darkblue;
  padding: 15px 0;
  display: flex;
  justify-content: left;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-item {
  margin-right: 15px;
  margin-left: 15px;
}

.nav-item.logout {
  margin-left: auto;
  margin-right: 30px;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 16px 15px;
}

.nav-item a.active {
  background-color: #0056b3;
}

.nav-item a:hover {
  background-color: #555;
}