body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
  
.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
  
.login-title {
    margin-bottom: 15px;
}
  
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
  
.form-group label {
    display: block;
    margin-bottom: 7px;
}

.form-group input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
  
.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 5px;
    bottom: 27px;
    background: none;
    border: none;
    cursor: pointer;
    color: darkblue;
    font-size: 12px;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: darkblue;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
  
.login-button:hover {
    background-color: #0056b3;
}
  
.error-message {
    color: #ff0000;
    margin-bottom: 1rem;
}
  